@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Vellkome Til Bornholm Slægts & Local Historiske Forrening </h1>
    <a class="" asp-area="" asp-controller="Feallesbase" asp-action="Index">  Døds Anunoncer</a>
     <img alt="Image"  src="/images/bornholm-billede.jpg" class=" position-absolute " />
     </div>*@
<div class="card " style="align-content-center " >

    <div class="card-body text-center" style="width:100% ; height:100%">
        <h5 class="card-title">Bornholm Slagterier</h5>
       
      @*   <a class="" asp-area="" asp-controller="Feallesbase" asp-action="Index"> *@   <img src="\images\bornholm_green.jpg" @*style="width:50% ; height:50%" *@ class="img-thumbnail " alt="...">
        <p class="card-text">Velkommen Til Bornholm Slagterier & Local Historiske Forening</p>
       @*  <a class="" asp-area="" asp-controller="Feallesbase" asp-action="Index">Døds Annoncer</a> *@
  </div>
</div>
<br/>